In [52]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
import os
import pandas as pd
import datetime
import os.path
import glob
import smtplib

### For Chrome

In [53]:
# chrome_options = Options()
# chrome_options.add_argument("--headless")
# chrome_options.add_argument("--window-size=1920x1080")

### Getting the CSV file from Ethplorer

In [54]:
wallet_address = '0x5a27dbbff05f36dc927137855e3381f0c20c1cdd'
url = 'https://ethplorer.io/address/'+ wallet_address

driver = webdriver.Chrome(r'C:\Users\Aaron Tang\Dropbox\My PC (LAPTOP-MIFU3HSC)\Desktop\chromedriver.exe')
driver.get(url)
time.sleep(1)
driver.find_element_by_xpath('/html/body/div[4]/div[1]/div/button').click()
time.sleep(1)
driver.find_element_by_xpath('/html/body/main/div/div/div[9]/div[2]/div[4]/small/span[2]/span[1]/button').click()
time.sleep(5)

### Renaming the file name of the download

In [36]:
current_time = datetime.datetime.now().strftime("%Y-%m-%d %H-%M")
os.chdir(r'\Users\Aaron Tang\Dropbox\My PC (LAPTOP-MIFU3HSC)\Downloads')
folder_path = r'\Users\Aaron Tang\Dropbox\My PC (LAPTOP-MIFU3HSC)\Downloads'
file_type = '\*csv'
files = glob.glob(folder_path + file_type)
max_file = max(files, key=os.path.getctime)
old_name = max_file.split('\\')[-1]
new_name = wallet_address+'_'+current_time+'.csv'

In [37]:
os.rename(old_name, new_name)

### Sorting the dates of the CSV file in the drive

In [38]:
dict1 = {}

for name in glob.glob(folder_path+'\\*csv'):
    name = name.split('\\')[-1]
    #print(name, time.strftime("%Y-%m-%d %H-%M", time.localtime((os.path.getmtime(name)))))
    dict1[time.strftime("%Y-%m-%d %H-%M", time.localtime((os.path.getmtime(name))))] = name
    
sorted(dict1.keys())

['2021-04-10 21-33',
 '2021-05-03 23-39',
 '2021-05-04 20-41',
 '2021-05-04 20-55',
 '2021-05-04 20-59',
 '2021-05-09 10-39',
 '2021-06-03 20-16',
 '2021-06-13 00-10',
 '2021-07-23 11-22',
 '2021-08-11 01-39',
 '2021-09-25 17-53',
 '2021-10-23 19-46',
 '2021-10-27 13-19',
 '2021-10-27 13-54',
 '2021-10-27 13-57',
 '2021-10-27 14-53']

### Fetching the latest file 2 files for comparison

In [39]:
latest_file = dict1[sorted(dict1.keys(),reverse=True)[0]]
second_lastest_file = dict1[sorted(dict1.keys(),reverse=True)[1]]

print('latest file is:\t\t\t', latest_file)
print('second latest file is: \t\t', second_lastest_file)

latest file is:			 0x5a27dbbff05f36dc927137855e3381f0c20c1cdd_2021-10-27 14-53.csv
second latest file is: 		 ethplorer (3).csv

In [41]:
df_latest = pd.read_csv(latest_file ,sep = ';',error_bad_lines=False)
df_latest['value'] = df_latest['value'].str.replace(',','.')
df_latest.head()

,date,txHash,txNoteUser,fromAddress,fromTagsUser,fromNoteUser,fromTags,toAddress,toTagsUser,toNoteUser,toTags,tokenName,tokenAddress,tokenSymbol,value,usdPrice
0,2021-10-27 04:13:21,0xc44598fab9466ed586bb870e66219679cd29a1c71251...,NaN,0xd152f549545093347a162dce210e7293f1452150,NaN,NaN,NaN,0x5a27dbbff05f36dc927137855e3381f0c20c1cdd,NaN,NaN,NaN,Wild $T1mes!,0x1811591c776ab78e0718534a6a3e79842f595eb2,$T1mes,8449500000000.000000000000000000,NaN
1,2021-10-27 04:13:21,0xc44598fab9466ed586bb870e66219679cd29a1c71251...,NaN,0xd152f549545093347a162dce210e7293f1452150,NaN,NaN,NaN,0x5a27dbbff05f36dc927137855e3381f0c20c1cdd,NaN,NaN,NaN,Wild $T1mes!,0x1811591c776ab78e0718534a6a3e79842f595eb2,$T1mes,4647250000000.000000000000000000,NaN
2,2021-10-27 00:06:37,0xe92f9c2353e8dc3c49a76d04f5f4a98f925c29d98799...,NaN,0x5a27dbbff05f36dc927137855e3381f0c20c1cdd,NaN,NaN,NaN,0x2d57690eba381611c77069fbcfc79d4806a4e53e,NaN,NaN,NaN,Fodl Finance,0x4c2e59d098df7b6cbae0848d66de2f8a4889b9c3,FODL,109304.534211356160000000,"0,61171014993381"
3,2021-10-27 00:06:37,0xe92f9c2353e8dc3c49a76d04f5f4a98f925c29d98799...,NaN,0xad84693a21e0a1db73ae6c6e5aceb041a6c8b6b3,NaN,NaN,NaN,0x5a27dbbff05f36dc927137855e3381f0c20c1cdd,NaN,NaN,NaN,WETH,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,16.580708210888380296,"4147,3120875139"
4,2021-10-26 16:30:45,0x2ba39e86aba85f63c1451a4901045449388174d4de21...,NaN,0xad84693a21e0a1db73ae6c6e5aceb041a6c8b6b3,NaN,NaN,NaN,0x5a27dbbff05f36dc927137855e3381f0c20c1cdd,NaN,NaN,NaN,WETH,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,16.680113667069311611,"4192,3395445935"

In [42]:
df_second_latest = pd.read_csv(second_lastest_file ,sep = ';',error_bad_lines=False)
df_second_latest['value'] = df_second_latest['value'].str.replace(',','.')
df_second_latest.head()

,date,txHash,txNoteUser,fromAddress,fromTagsUser,fromNoteUser,fromTags,toAddress,toTagsUser,toNoteUser,toTags,tokenName,tokenAddress,tokenSymbol,value,usdPrice
0,2021-10-27 04:13:21,0xc44598fab9466ed586bb870e66219679cd29a1c71251...,NaN,0xd152f549545093347a162dce210e7293f1452150,NaN,NaN,NaN,0x5a27dbbff05f36dc927137855e3381f0c20c1cdd,NaN,NaN,NaN,Wild $T1mes!,0x1811591c776ab78e0718534a6a3e79842f595eb2,$T1mes,8449500000000.000000000000000000,NaN
1,2021-10-27 04:13:21,0xc44598fab9466ed586bb870e66219679cd29a1c71251...,NaN,0xd152f549545093347a162dce210e7293f1452150,NaN,NaN,NaN,0x5a27dbbff05f36dc927137855e3381f0c20c1cdd,NaN,NaN,NaN,Wild $T1mes!,0x1811591c776ab78e0718534a6a3e79842f595eb2,$T1mes,4647250000000.000000000000000000,NaN
2,2021-10-27 00:06:37,0xe92f9c2353e8dc3c49a76d04f5f4a98f925c29d98799...,NaN,0x5a27dbbff05f36dc927137855e3381f0c20c1cdd,NaN,NaN,NaN,0x2d57690eba381611c77069fbcfc79d4806a4e53e,NaN,NaN,NaN,Fodl Finance,0x4c2e59d098df7b6cbae0848d66de2f8a4889b9c3,FODL,109304.534211356160000000,"0,61171014993381"
3,2021-10-27 00:06:37,0xe92f9c2353e8dc3c49a76d04f5f4a98f925c29d98799...,NaN,0xad84693a21e0a1db73ae6c6e5aceb041a6c8b6b3,NaN,NaN,NaN,0x5a27dbbff05f36dc927137855e3381f0c20c1cdd,NaN,NaN,NaN,WETH,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,16.580708210888380296,"4147,3120875139"
4,2021-10-26 16:30:45,0x2ba39e86aba85f63c1451a4901045449388174d4de21...,NaN,0xad84693a21e0a1db73ae6c6e5aceb041a6c8b6b3,NaN,NaN,NaN,0x5a27dbbff05f36dc927137855e3381f0c20c1cdd,NaN,NaN,NaN,WETH,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,16.680113667069311611,"4192,3395445935"

In [43]:
new_date = [i for i in df_latest['date'].tolist() if i not in df_second_latest['date'].to_list()]
new_txhash = [i for i in df_latest['txHash'].tolist() if i not in df_second_latest['txHash'].to_list()]

In [55]:

if len(new_date)>0:
    print('there are',len(new_date),'new transactions and they occurrred at:', new_date)
    latest_transactions = df_latest.iloc[0:len(new_date)]
    a = ('the tokens which he transacted were:', latest_transactions['tokenSymbol'].tolist())
    print(a)
    display(latest_transactions)
    os.chdir(r'C:\Users\User\Desktop\Chun Him Cheung\Python\Ethplorer')  
    latest_transactions.to_csv('latest_transaction_'+current_time+'.csv',index=False)
    gmail_user = 'ethwhales805@gmail.com'
    gmail_password = 'Ethereum1234'

    sent_from = 'ethwhales805@gmail.com'
    to = ['gottliebkeller2@gmail.com', 'bcheu052@gmail.com', 'aaron.jy@gmail.com']
    subject = 'You have a new transaction!'
    body = a
    


    try:
        server = smtplib.SMTP('smtp.gmail.com', 587)
        server.ehlo()
        server.starttls()
        server.login(gmail_user, gmail_password)
        server.sendmail(sent_from, to, email_text)
        server.close()
        # ...send emails
    except:
        print('Something went wrong...')
    else:
        print('There weren\'t any new transaction since the latest run.')